# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Local development settings
.env
env/
/.venv/

# Media and static files
/media/
/static/

# Database files
*.db
*.sqlite3

# Logs
*.log
logs/

# Environment-specific files
*.env

# Other
*.swp
.DS_Store
