@import '../_styles/colors.scss';


.main {
  
    h2 {
        font-family: 'Dancing Script', cursive;
        font-size: 2.5rem;
        text-align: center;
        margin-top: 50px;
        color: #3f3f3f;
    }
    
}

.searchBar {
    margin: 20px 0;
    display: flex;
    justify-content: center;
  
    input {
        width: 25%;
        padding: 10px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    // Media query for mobile screens
    @media (max-width: 600px) {
        input {
            width: 15rem;
        }
    }
  
    button {
        padding: 10px;
        background-color: $color-green;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    
        &:hover {
            background-color: #0056b3;
        }
    }
}

.recipesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
    
    @media (max-width: 640px) {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 1rem;
      padding: 1rem;
    }
}